$purple         : #8A4D76;
$pink           : #FA7C91;
$cyan           : #209cee;
$brown          : #757763;
$beige-light    : #D0D1CD;
$beige-lighter  : #EFF0EB;
$blue           : #3273DC;

$family-sans-serif  : "Nunito", sans-serif;
$grey-dark          : $brown;
$grey-light         : $beige-light;
$primary            : $cyan;
$link               : $blue;

// $radius             : 1px;

$body-background-color: white;
$control-radius: 1px;
$control-border-width: 1px;
$input-border-color: $beige-light;
$input-shadow: none;
